body {
  font-family: 'Raleway', sans-serif;
  padding-top: 2rem;
  max-width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}

.justify {
  text-align: justify;
}

.title {
  background-color: #333;
  height: 80vh;
  padding-top: 35vh;
  text-align: left;
}

.title h1 {
  color: white;
  font-size: 3em;
}

.title p {
  color: white;
}

.section {
  padding-top: 10em;
  padding-bottom: 10em;
}

.image-fill {
  width: 100%;
  height: auto;
}
